# Hetzner StorageBox'es (one or space separated list), syntax: user@host:port
export repo_main="xxx@xxx.your-storagebox.de:23"
export repo_sync="xxx@xxx.your-storagebox.de:23"

# Folder path where repository stored on remote storage
export repository_folder="/home/kopia/json"

# Default password what mandatory for repositories encryption
export KOPIA_PASSWORD="pass"

# Web UI
export ui_username="xxx"
export ui_password="xxx"

# Other Kopia settings
export KOPIA_CHECK_FOR_UPDATES=false

# KOPIA_PERSIST_CREDENTIALS_ON_CONNECT=false
# KOPIA_CHECK_FOR_UPDATES=false

# KOPIA_CACHE_DIRECTORY
# KOPIA_LOG_DIR
# KOPIA_LOG_DIR_MAX_FILES
# KOPIA_KEEP_LOGS

# KOPIA_SERVER_USERNAME
# KOPIA_SERVER_PASSWORD
# KOPIA_SERVER_CONTROL_USER
# KOPIA_SERVER_CONTROL_PASSWORD

# B2_KEY_ID
# B2_KEY

