{
  "storage": {
    "type": "sftp",
    "config": {
      "path": "/home/kopia/json",
      "host": "u281891.your-storagebox.de",
      "port": 23,
      "username": "u281891",
      "password": "",
      "keyfile": "/root/kopia-scripts/keys/id_kopia",
      "knownHostsFile": "/root/kopia-scripts/keys/known_hosts",
      "externalSSH": false,
      "sshCommand": "ssh",
      "dirShards": null
    }
  },
  "caching": {
    "cacheDirectory": "../cache",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "host": "ubuntu-s-1vcpu-1gb-amd-nyc3-01",
  "username": "root",
  "description": "Repository in SFTP u281891@u281891.your-storagebox.de",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}